.dragApp {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.dragApp__wrapper {
  border: 5px solid rgb(0, 71, 115);
  border-radius: 5px;
  width: 30%;
  min-height: 500px;
}
