.dragApp {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.dragApp__wrapper {
  border: 5px solid rgb(0, 71, 115);
  border-radius: 5px;
  width: 30%;
  min-height: 500px;
}
.element {
  border: 3px solid rgb(0, 71, 115);
  width: 90%;
  margin: 10px auto;
}
.element:hover {
  cursor: pointer;
}
.element__title {
  margin: 0;
}
.element__date {
  margin: 0;
  font-size: 12px;
  color: rgb(203, 203, 203);
}
